@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap');

// FONTE ESCOLHIDA
$Font: 'Balsamiq Sans', cursive;

// CORES DO PROJETO
// Paleta de cores escolhida URL: https://coolors.co/palette/01161e-124559-598392-aec3b0-eff6e0

$Bg-principal: #01161E;
$Azul-escuro: #124559;
$Azul-claro: #598392;
$Verde: #AEC3B0;
$Branco: #EFF6E0;
